<html>
  <head>
    <meta http-equiv="refresh" content="30">
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-FQVLHWW2GK"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'G-FQVLHWW2GK');
	</script>
  
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    <title>Está de cumpleaños María?</title>
  </head>
  <body>
    {%if si_cumple%}
      <!--<h1>Si! Feliz cumpleaños!!</h1>-->
      <h1 class="display-1">Si! Feliz cumpleaños!</h1>
    {%elif falta == 1%}
      <h1 class="display-1">No, hoy no.</h1>
      <h1 class="display-2">Falta {{falta}} día.</h1>
    {%elif falta > 1%}
      <h1 class="display-1">No, hoy no.</h1>
      <h1 class="display-2">Faltan {{falta}} días.</h1>
    {%else%}
      <h1 class="display-1">No, hoy no.</h1>
      <h1 class="display-2">Pero faltan {{horas}} horas!</h1>
    {%endif%}
      <h1>
    {%if falta > 30 and si_cumple!=1%}
      <span class="badge badge-success">Tranqui, queda ene, {{segs}}</span>
    {%elif falta <= 30 and falta >=7 and si_cumple!=1 %}
      <span class="badge badge-warning">Queda poco! {{segs}}</span>
    {%elif si_cumple!=1%}
      <span class="badge badge-danger">Ojo! Queda muy poco! {{segs}}</span>
    {%endif%}
    </h1>
  </body>
</html>
